<body>
<div class="container product-details">
    <div class="row">
      <div class="col-md-6 product-images">
        <img src="../../../../../assets/images/farm.jpg" alt="Product Image 1">
        <img src="../../../../../assets/images/product.jpg" alt="Product Image 2">
      </div>
      <div class="col-md-6 product-form">
        <h2>ADD PRODUCT DETAILS</h2>
        <div class="error-box" *ngIf="validationMessage">
          <div class="error-message">
            {{ validationMessage }}
          </div>
        </div>
        <form (ngSubmit)="onAddProduct()">
          <div class="form-group">
            <label for="fieldId">Field ID</label>
            <input type="text" class="form-control" value={{fieldId}}>
          </div>
          <div class="form-group">
            <label for="riceType">Rice Type</label>
            <input type="text" class="form-control" [(ngModel)]="riceType" [ngModelOptions]="{ standalone: true }">
          </div>
          <div class="form-group">
            <label for="duration">Duration Taken</label>
            <input type="text" class="form-control" [(ngModel)]="duration" [ngModelOptions]="{ standalone: true }">
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" [(ngModel)]="quantity" [ngModelOptions]="{ standalone: true }">
          </div>
          <button type="submit" class="btn btn-primary">ADD</button>
        </form>
      </div>
    </div>
  </div>
</body>