<div class="hero_area">
  <header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <div class="custom_menu-btn">
        <button onclick="openNav()">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
        </button>
      </div>
      <div id="myNav" class="overlay">
        <div class="menu_btn-style ">
          <button onclick="closeNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div class="overlay-content">
          <a class="active" href="index.html">
            Home
          </a>
          <a class="" href="about">
            About Us
          </a>
          <a class="" href="login">
            Sign In
          </a>
          <a class="" href="register">
            Sign Up
          </a>
          <a class="" href="ourService">
           Why us
          </a>
        </div>
      </div>
      <a class="navbar-brand" href="index.html">
        <span>
          GreenLife
        </span>
      </a>
      <div class="user_option"><br>
        <a href="/login">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
  </header>
  <section class="slider_section position-relative">
    <a class="navbar-brand" href="index.html">
      <span>
        GreenLife
      </span>
    </a>
    <div class="box">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-10 ml-auto">
                <div class="detail-box">
                  <h1>
                    GreenLife <br />
                    Farm Certification
                  </h1>
                  <div class="btn-box">
                    <a href="/register" class="btn-1">
                      Sign Up
                    </a>
                    <a href="/login" class="btn-2">
                      Sign In
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-10 ml-auto">
                <div class="detail-box">
                  <h1>
                    GreenLife <br />
                    Farm Certification
                  </h1>
                  <div class="btn-box">
                    <a href="/register" class="btn-1">
                      Sign Up
                    </a>
                    <a href="/login" class="btn-2">
                      Sign In
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<app-about></app-about>
<app-services></app-services>
<app-footer></app-footer>
